/* =========================================== BootNavbar =========================================== */
body {
    overflow-x: hidden;
}

.nav-item .nav-link,
.navbar-brand {
    color: #fff !important;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

    .nav-item .nav-link:hover,
    .navbar-brand:hover {
        color: rgb(53, 230, 200) !important;
        transition: all .4s ease-in-out;
    }

.dropdown-menu {
    margin-top: 0;
}

    .dropdown-menu .dropdown-toggle::after {
        vertical-align: middle;
        border-left: 4px solid;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
    }

    .dropdown-menu .dropdown .dropdown-menu {
        left: 100%;
        top: 0%;
        margin: 0 20px;
        border-width: 0;
    }

    .dropdown-menu > li a:hover,
    .dropdown-menu > li.show {
        background: #28a745;
        color: white;
    }

        .dropdown-menu > li.show > a {
            color: white;
        }

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin: 0;
        border-width: 1px;
    }
}

/* ========================================= Pulse Animation ========================================== */


.pulse {
    overflow: initial;
    position: relative;
}

    .pulse::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: inherit;
        border-radius: inherit;
        -webkit-transition: opacity .3s, -webkit-transform .3s;
        transition: opacity .3s, -webkit-transform .3s;
        transition: opacity .3s, transform .3s;
        transition: opacity .3s, transform .3s, -webkit-transform .3s;
        -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
        animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
        z-index: -1;
    }

@-webkit-keyframes pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
